<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Edit Comment</title>
	</head>
	<body>
		<h1>Edit Comment</h1>
		<form method = "post" action="/comments/<%=comment.id%>?_method=PATCH">
			<textarea name="comment" id="" cols="30" rows="10">
				<%= comment.comment %>
			</textarea>
			<button>Save</button>
		</form>
	</body>
</html>
