:root {
  --series-width: 100px;
  --scoreButton-width: 50px;
}

.pinkborder {
  border-style: solid;
  border-color: pink;
}

#scoreDiv {
  width: 500px;
}

#logo {
  width: 450px;
}

.seriesBox {
  width: var(--series-width);
}

#buttonRow {
  margin-top: 20px;
}

#gameCounter {
  width: var(--series-width);
}

.scoreButton {
  width: var(--scoreButton-width);
}

.winner {
  color: green;
}

.loser {
  color: red;
}
