:root {
	--dark: #374151
	--darker: #1F2937;
	--darkest: #111827;
	--light: #EEE;
	--pink: #EC4889;
	--purple: #8B5Cf6;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Fira Sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--dark);
}
